table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
  background-color: #000000;
  opacity: 80%;
  border: 2px solid white;
  border-radius: 5px;
}

.year-select {
  position: relative;
  width: 16vh;
}

.mat-icon.arrow-down {
  position: absolute;
  left: 5.8rem;
  top: 4px;
  /* width: 34px; */
  font-size: 30px;
}

.table-m {
  height: 475px;
  overflow-x: hidden;
  margin: 25px;
}

// .table-m .mat-table-sticky:first-child {
//   border-right: 1px solid #e0e0e0;
// }

.table-m th {
  position: sticky;
  top: 0%;
  background-color: #bbd98c;
  //opacity: 80%;
  color:#000000;
  font-weight: 900;
}

@media screen and (max-width: 600px) {}

td,
th {
  border: 2px solid #fff;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  width: auto;
  z-index: 1;
}

button.btn1 {
  text-align: center;
  align-items: center;
  margin-left: 2%;
}

button {
  background: black;
  padding: 8px;
  // margin-top: 2%;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  font-family: arial, sans-serif;
  border: 2px solid;

}

.forsearch {
  background: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  font-family: arial, sans-serif;
  border: 2px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.d-b-btn {
  margin-top: 5px;
}

.search-bar {
  display: flex;
  padding-left: 25px;
  align-items: baseline;
  margin-left: 2px;
  width: 550px;
  margin-bottom: 4px;

  .for-search {
    margin-left: 5px;
  }

  .year-select {
    margin-left: 5px;
  }

  .year-date {
    margin-left: 14px;
  }

}

.mat-icon.search-icon {
  position: absolute;
  left: 1.9rem;
  top: 108px;
  font-size: 28px;
}

input {
  padding-left: 7%;
  padding-block: 5px;
}

.year-select {
  position: absolute;
  background: #855e5e;
  width: 60vh;
  height: 60vh;
  z-index: 9999;
  border-radius: 10px;
  top: 104px;
  left: 248px;
  margin: 35px;
  opacity: 96%;

  button {
    background: white;
    color: black;
    border: white;
    font-weight: 200;
    padding-block: 6px;
    width: 114px;
    padding-bottom: 5px;
    margin-top: 20px;
  }

  .form-select {
    width: 122px;
    margin: 10px;
  }

  .ok {
    width: 37px;
    top: 310px;
    left: 240px;
    position: absolute;
  }

  .cancel {
    width: 62px;
    top: 310px;
    left: 290px;
    position: absolute;
  }
}

p-calendar {
  padding: 2px 2px 2px 2px;
  position: absolute;
  width: 200px;
  bottom: 22px;
  margin-left: 140px;
}

button.popup {
  margin-left: 14px;
  background-color: white;
  border: 1px solid white;
  padding-bottom: 5px;
  font-weight: 300;
}

.container {
  background-color: #ab9090;
  width: 35%;
  height: 40%;
  border-radius: 10px;
  opacity: 90%;
  z-index: 9999;
}

.year-date {
  margin-top: 11px;
  margin-left: 126px;
  width: 145px;
  position: absolute;
}


.form-select.year-select {
  height: auto;
  margin-left: 1px;
  margin-top: 70px;
  width: 145px;
}

.form-select.earn-select {
  height: auto;
  margin-top: 10px;
}

.ng-container.empty-row {
  width: 100%
}

th.fix{
  z-index: 2;
}

.mat-paginator{
  margin-top: 10px;
}

mat-option.mat-mdc-option mat-mdc-focus-indicator mdc-list-item ng-tns-c142-1 ng-star-inserted{
  position: absolute;
    left: 494px;
    bottom: 7px;
}

.tabbtn{
  background: rgb(153, 143, 143);
}

.tabbtn:hover{
  background: white;
}

.tabbtnd{
  background: rgb(214, 101, 101);
}

.tabbtnd:hover{
  background: rgb(255, 78, 78);
}

.mat-paginator{
  background: darkgrey;
  opacity: 85%;
}

.Taxcolor{
  color:orangered;
}
.Taxcolor1{
  color:#37f537;
}

.Salarycolor{
  color:yellow
}

.Salarycolor1{
  color:#37f537;;
}
.searchbutton{
  
  width: 72px;
  height: 36px;
  background-color: white;
  color: black;
  border: 2px solid white;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 0px;
}