.form-box {
    width: 340px;
    padding: 0%;
    margin: 30px auto 0px auto;
}

.taxform {
    background-color: #000000;
    border-radius: 10%;
    opacity: 80%;
    width: 495px;
    padding-left: 12px;
}

form {
    font-weight: 500;
    color: aliceblue;
}

h2 {
    text-align: center;
    color: aliceblue;
}

div {
    padding: 1%;
    width: 470px;
}

.btn {
    text-align: center;
    width: 15%;
    padding: 5px;
    position: relative;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: -70px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.valid {
    color: red;
}

button:hover {
    color: rgb(8, 160, 33);
}

.navbtn {
    margin-left: 385px;
    margin-bottom: 4px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 64px;
    flex-direction: row-reverse;
}